<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hw_4.Properties.Settings.Library1ConnectionString"
            connectionString="Data Source=DESKTOP-JP6PM9R\SQLEXPRESS;Initial Catalog=Library1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>